Body {
    background-color: whitesmoke;
    max-width: 90%;
    background-position-x: 100%;
    background-position-y: 100%;
    background-size: cover;
    margin: auto;
    background-image: url(white.jpg);
    background-repeat: no-repeat;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: yellow;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
    margin-right: 100px;
    margin-bottom: 5px;
}
section{
    float: left;
    margin-bottom: 10px;
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    clear: left;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: darkred;
    word-spacing: 1px;
}
q{
    display: block;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 160%;
    background-color: grey;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    font-style: italic;
    border-radius: 25px;
}
.villagers{
    border-left: 3px dashed blue;
}
.farmer{
    border-left: 3px dashed yellow;
}
.good{
    color: green;
}
.bad{
    color: red;
}
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}
.notification{
    background:#FFFFDD;
    padding:.5rem 1rem;
    border:3px solid #DDDDCC;
    width:250px;
    font-weight:bold;
    color: #333300;
    position:fixed;
    bottom: 0px;
    right: 0px;
  }